body {
  margin: 0;
  padding: 0;
}

#fade-out {
	background: #00000c;
  position:absolute;
	top:0;
  left:0;
	z-index: 1;
  width:100vw;
	height:100vh;
}

#fade-in {
	background: #00000c;
  position:relative;
	z-index: 0;
  width:100vw;
	height:100vh;
}
