body {
  margin: 0;
  padding: 0;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
}

#fade-out {
	background: #00000c;
  position:absolute;
	z-index: 1;
  width:100vw;
	height:100vh;
}

#fade-in {
	background: #00000c;
  position:relative;
	z-index: 0;
  width:100vw;
	height:100vh;
}
